html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.App {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.options-panel {
    position: relative;
    width: 400px;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.panel-header {
    position: relative;
    padding-left: 20px;
}

.panel-header>h1 {
    margin-bottom: 0;
}

.panel-header {
    position: relative;
    background-color: white;
}

.panel-body {
    position: relative;
    padding-left: 20px;
    background-color: white;
}

.listings {
    text-align: left;
    list-style: none;
}

.listings>li {
    position: relative;
    left: -40px;
    padding: 15px 0;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
}

.search-panel > input {
    line-height: 1.6;
    width: 225px;
    border-radius: 6px;
    border: 1px solid grey;
    outline: none;
    text-indent: 5px;
}

.search-panel > p {
    font-style: italic;
    font-size: 0.8rem;
    margin: 0;
    padding: 10px 0;
}

.map {
    height: 100%;
    width: 100%;
}

.close-btn {
    display: none;
}

.open-btn {
    display: none;
}

@media only screen and (max-width: 800px) {
    .container {
        display: block;
    }

    .options-panel {
        position: absolute;
        left: 0;
        margin: 0;
        width: 100vw;
    }

    .panel-header {
        z-index: 100;
    }

    .panel-body {
        z-index: 100;
    }

    .map.panel-open {
        position: absolute;
        left: 0;
        z-index: 1;
    }

    .close-btn {
        position: absolute;
        display: unset;
        top: 20px;
        right: 20px;
        margin: 0;
        padding: 0 5px;
        border: 1px solid black;
    }

    .open-btn {
        position: absolute;
        display: unset;
        top: 20px;
        right: 20px;
        margin: 0;
        padding: 0 5px;
        border: 1px solid black;
    }

    .hide-btn {
        display: none;
    }

    .panel-body {
        display: none;
    }
    
    .panel-body.show-panel-body {
        display: block;
    }
}